.home_root {
  min-height: 500px;
  width: 100%;
  padding: 20px;
  .home_route {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .route_card {
      width: 23%;
      height: 100px;
      border: 2px solid #eee;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      .route_card_tag {
        position: absolute;
        right: 10px;
        top: 10px;
        border: none;
      }
      .route_card_progress {
        position: absolute;
        left: 10px;
        top: 13px;
      }
      &:hover {
        cursor: pointer;
        background-color: #eee;
        .title {
          transform: scale(1.3) rotate(30deg);
        }
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
      }
    }
    .route_card_hold {
      width: 23%;
      height: 0;
      margin-top: 10px;
    }
  }
}
