.login_box {
  margin-top: 10px;
  width: 500px;
  min-height: 300px;
  border: 1px solid #eee;
  padding: 24px;
  position: absolute;
  top: 20%;
  right: 10%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
}
